uvicorn
python-dotenv
fastapi
pinecone-client
langchain 
langgraph 
langchain-google-genai 
websockets
wsproto
langsmith
langchain-groq
sentence-transformers
langchain-pinecone
langchain-community
pyreadline3